:root {
    --dark: #141414;
    --background: #111111;
    --gray-line: #dcdde0;
    --text: #fff;
    --text-highlight: #b3b9ff;
    --title: #fff;
    --red: #e83f5b;
    --red-dark: #c7374f;
    --green: #69c036;
    --green-dark: #499120;
    --blue: #5965e0;
    --blue-dark: #4953b8;
    --blue-twitter: #2aa9e0;
}